<h1>New Student</h1>

<%= form_for :Student, url: students_path do |f| %>
  <p>
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </p>
 
  <p>
    <%= f.label :Gender %><br>
    <%= f.text_field :Gender %>
  </p>
 
  <p>
    <%= f.submit 'Update Student' %>
  </p>
<% end %>